<!DOCTYPE html>
<html ng-app="questionPageApp">
    <head>
        <title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/question-page-styling.css' />

        <script src="javascripts/bower_components/angular/angular.js"></script>
        <script src="javascripts/bower_components/jquery/dist/jquery.min.js" ></script>
        <script src="javascripts/bower_components/angular-route/angular-route.js"></script>
        <script src="javascripts/question-page.js"></script>
    </head>

    <body ng-controller="questionPageController as ctrl">
    <!--<body ng-controller="questionPageController as ctrl" oncontextmenu="return false">-->

    <div class="thank-you" ng-show="startFadeout">
            <h2>Thank You</h2>
        </div>
        <div class="page-container" ng-hide="hidden" ng-class="{fadeout: startFadeout}">
            <div class="header">
                <div class="logo">
                    <!--<div class="dmc-big">DMC</div>-->
                    <!--<div>Digital Media Center</div>-->
                    <img src="images/dmc-logo-blueonwhite.png">
                </div>
                <div class="question-header">
                    <p>Question of the Day</p>
                </div>
            </div>
            <hr>
            <div class="first-question question-container" ng-show="firstQuestion">
                <div class="question-text" >Are you checking items out or returning? </div>

                <div ng-show="firstQuestion" class="response-container in-out">
                    <a ng-click="inout = 'in'" ng-class="{'button-selected': inout == 'in'}" class='button'>Returning Items</a>
                    <a ng-click="inout = 'out'" ng-class="{'button-selected': inout == 'out'}" class='button'>Checking Out</a>
                </div>

                <a ng-click="continue()" class="button submit-button"><span class="submit-text">Continue</span></a>


            </div>
            <div class="question-container" ng-if="!firstQuestion" ng-hide="hidden" ng-class="{fadeout: startFadeout}">
                <div class="question-text" >
                    <!--Was the equipment you checked out the right tool for the job?-->
                    <!--For what purpose did you use DMC equipment?-->
                    {{q.q}}
                    <!--Please check all that apply.-->
                    <!--eventually will pull from database of questions-->

                </div>
            </div>

            <!--RESPONSE FOR YES/NO QUESTIONS-->
            <div ng-if="!firstQuestion" ng-hide="hidden" ng-class="{fadeout: startFadeout}">
                <div ng-show="q.type==0" class="response-container yes-no">
                    <a ng-click="yesno = 'yes'" ng-class="{'button-selected': yesno == 'yes'}" class='button'>Yes</a>
                    <a ng-click="yesno = 'no'" ng-class="{'button-selected': yesno == 'no'}" class='button'>No</a>
                </div>

                <!--<ui class="response-container checkbox-grid">-->
                    <!--<li><input type="checkbox" class="styled" /> Student group activity </li>-->
                    <!--<li><input type="checkbox" class="styled" /> To enhance campus community </li>-->
                    <!--<li><input type="checkbox" class="styled" /> Baltimore community service </li>-->
                    <!--<li><input type="checkbox" class="styled" /> Self-promotion </li>-->
                    <!--<li><input type="checkbox" class="styled" /> Academic </li>-->
                    <!--<li><input type="checkbox" class="styled" /> Personal learning </li>-->
                    <!--<li><input type="checkbox" class="styled" /> Entertainment relaxation </li>-->
                <!--</ui>-->

                <div ng-show="q.type == 1" class="response-container grid">
                    <a class='button button-check' ng-click="answersChecked[0] = !answersChecked[0]"
                        ng-class="{'button-selected':answersChecked[0] == true}">{{answers[0]}}</a>
                    <a class='button button-check' ng-click="answersChecked[1] = !answersChecked[1]"
                       ng-class="{'button-selected':answersChecked[1] == true}">{{answers[1]}}</a>
                    <a class='button button-check' ng-click="answersChecked[2] = !answersChecked[2]"
                       ng-class="{'button-selected':answersChecked[2] == true}">{{answers[2]}}</a>
                    <a class='button button-check' ng-click="answersChecked[3] = !answersChecked[3]"
                       ng-class="{'button-selected':answersChecked[3] == true}">{{answers[3]}}</a>
                    <a class='button button-check' ng-click="answersChecked[4] = !answersChecked[4]"
                       ng-class="{'button-selected':answersChecked[4] == true}">{{answers[4]}}</a>
                    <a class='button button-check' ng-click="answersChecked[5] = !answersChecked[5]"
                       ng-class="{'button-selected':answersChecked[5] == true}">{{answers[5]}}</a>
                    <a class='button button-check' ng-click="answersChecked[6] = !answersChecked[6]"
                       ng-class="{'button-selected':answersChecked[6] == true}">{{answers[6]}}</a>

                    <!--<a class='button button-check'>yes</a>-->
                </div>
            </div>

            <!--<a ng-click="refresh()" class="button submit-button"><span class="submit-text">Submit</span></a>-->
            <a ng-show="!firstQuestion" ng-click="submit()" class="button submit-button"><span class="submit-text">Submit</span></a>

            <!--<div class="question-container">-->
                <!--<!--Insert a Question here.-->
                <!--<%= question %>-->
            <!--</div>-->

            <!--<div class="answer-options">-->
                <!--<div class="button-container">-->
                    <!--<a ng-click="ctrl.test1()" class='button'>First</a>-->
                    <!--<a ng-click="ctrl.test2()" class='button'>Second</a>-->
                <!--</div>-->

                <!--<!--Yes/No <br>-->
                <!--<!--Multiple choice <br>-->
                <!--<!--Free response-->

            <!--</div>-->


        </div>

    </body>


</html>


<!--<p>Welcome to</p>-->
