body {
    background-color:cornflowerblue;
}

h2 {
    text-align: center;
}

.graph1, .graph2 {
    display: inline-block;
    margin: 10%;
}

/*.graph1 {*/
    /*float:left;*/
/*}*/

.ct-label {
    fill: white !important;
}

/*.ct-slice {*/
    /*background: none !important;*/
/*}*/

.graph-container {
    /*display: inline-block;*/
    /*margin: auto 0;*/
    /*width: 50%;*/
}



