@font-face {
    font-family: bodyfont;
    src: url('../fonts/static/Static.otf');
}

@font-face {
    font-family: headingfont;
    src: url('../fonts/fv_almelo/FV_Almelo.ttf');
}

body {
    background-color: black;
    /*font-family: Arial Rounded MT Bold;*/
    font-family: headingfont;
}

.page-container {
    height: 90%;
    width: 82%;
    /* border: 1px black solid; */
    background-color: #2cabe6;
    position: absolute;
    margin: 2% 8%;
    border-radius: 15px;
}


.question-header {
    float: right;
    margin-top: 2%;
    margin-right: 16%;
    font-size: 63px;
    font-weight: bold;
    font-family: headingfont;
    /*background-color: #303030;*/
    background-color: white;
    width: 626px;
    position: absolute;
    left: 295px;
    text-align: center;
    height: 88px;
    top: -4.5px;
    /*color: white;*/
    color: #2cabe6;
    border-radius: 6px;
}

.question-header p {
    margin-top: 7px;
    font-family: headingfont;

}

.logo {
    float:left;
    margin-left: 12%;

    /*height: 88px;*/
    /*background-color: #303030;*/
    /*background-color: transparent;*/
    /*width: 146px;*/
    /*margin-top: 16px;*/
    /*border-radius: 6px;*/
    opacity: 1;

}

.fadeout{
    -webkit-transition: opacity 2s; /* For Safari 3.1 to 6.0 */
    transition: opacity 2s;
    opacity: 0;
}

.fadein {
    /*-webkit-transition: opacity 2s; *//* For Safari 3.1 to 6.0 */
    /*transition: opacity 2s;*/
    /*opacity: 1;*/
}

.logo img {
    height: 171px;
    width: 180px;
    position: absolute;
    margin-top: 0;
    /*border-radius: 3px;*/
    left: 120px;
    top: -24px;
}

hr {
    margin-top: 12%;
    border: 5px black solid;
}

.question-container {
    width: 53%;
    margin: 4% 25%;
    margin-right: 200px;
    font-family: bodyfont;

}

.question-container div {
    /*font-family: Arial Rounded MT Bold;*/
    font-family: bodyfont;
    text-align: center;
    font-size: 29px;
    font-weight: 700;
}

.first-question {
    margin-top: 6%;
    margin-left: 229.5px;
}

.first-question .first-question-text {
    margin-top: 3%;
    margin-left: 72px;
}

.response-container {
    margin: 7% 36.5%;
    width: 50%;
    font-family: bodyfont;

}

.yes-no .button {
    width: 12%;
    display: block;
    float: left;
    text-align: center;
}

.in-out {
    display: inline;
    margin-top: 100px;
}

.in-out .button {
    font-size: 25px;
    width: 110px;
    margin-left: 100px;
    margin-top: 32px;
    display: block;
    float: left;
    text-align: center;
}

.button:last-child {
    margin-left: 35px;}

.button {
    border: 1px solid #0a3c59;
    background: #3e779d;
    background: -webkit-gradient(linear, left top, left bottom, from(#65a9d7), to(#3e779d));
    background: -webkit-linear-gradient(top, #65a9d7, #3e779d);
    background: -moz-linear-gradient(top, #65a9d7, #3e779d);
    background: -ms-linear-gradient(top, #65a9d7, #3e779d);
    background: -o-linear-gradient(top, #65a9d7, #3e779d);
    background-image: -ms-linear-gradient(top, #65a9d7 0%, #3e779d 100%);
    padding: 25.5px 37px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(255,255,255,0.4) 0 1px 0;
    -moz-box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(255,255,255,0.4) 0 1px 0;
    box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(255,255,255,0.4) 0 1px 0;
    text-shadow: #7ea4bd 0 1px 0;
    color: #303030;
    font-size: 35px;
    /*font-family: Arial Rounded MT Bold, serif;*/
    font-family: bodyfont;
    text-decoration: none;
    vertical-align: middle;
}

.button:active {
    text-shadow: #1e4158 0 1px 0;
    border: 1px solid #0a3c59;
    background: #65a9d7;
    background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#3e779d));
    background: -webkit-linear-gradient(top, #3e779d, #65a9d7);
    background: -moz-linear-gradient(top, #3e779d, #65a9d7);
    background: -ms-linear-gradient(top, #3e779d, #65a9d7);
    background: -o-linear-gradient(top, #3e779d, #65a9d7);
    background-image: -ms-linear-gradient(top, #3e779d 0%, #65a9d7 100%);
    color: #fff;
}

.checkbox-grid {
    margin: 0 auto;
    text-align: center;
    display: inline;
}

.checkbox-grid li {
    display: flex;
    vertical-align: top;
    margin-left: 40%;
}

.grid {
    display: inline-block;
    position: absolute;
    top: 215px;
    right: -160px;
}
.button-check {
    display: inline-block;
    margin-left: 0 !important;
    margin-bottom: 10px;
    font-size: 25px;
    padding: 10px;
    margin-right: 5px !important;
}

.button-selected {
    background: -webkit-gradient(linear, left top, left bottom, from(lime), to(forestgreen)) !important;
    border: green 1px solid;
}

.submit-button {
    /* margin-left: 0 !important; */
    font-size: 30px;
    padding: 5px;
    position: absolute;
    /* bottom: 20px; */
    /* right: 458px; */
    /*background: -webkit-linear-gradient(top, limegreen, #39D481);*/
    background: -webkit-linear-gradient(top, limegreen, #39D481);
    height: 50px;
    width: 200px;
    text-align: center;
    bottom: 15%;
    left: 38%;

}

.submit-text {
    vertical-align: middle;
    position: absolute;
    font-weight: bold;
    right: 30.5%;
    bottom: 23.5%;
}

.continue-text {
    vertical-align: middle;
    position: absolute;
    font-weight: bold;
    font-weight: bold;
    right: 52px;
    top:12px;
}

.thank-you {
    position: absolute;
    text-align: center;
    color: white;
    z-index: 10;
    right: 39%;
    top: 38%;
    font-family: headingfont;
}

.thank-you h2 {
    font-size: 70px;
}